.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
build/
android/
ios/
linux/
macos/
windows/
web/flutter.js
web/flutter_service_worker.js
venv/
__pycache__/
*.pyc
.env
*.db
node_modules/
coverage/
dist/
*.log
